@import '../../sass/variables'
@import '../../sass/extensions'

.launch-panel
    @extend %flex-row
    margin: 0 0 $base-spacing/2
    padding: $base-spacing
    span
        margin-right: $base-spacing
    span:last-child
        margin-right: 0