<ng-container *ngIf="!layout.edit">
    <span class="max-time">Max Time: {{simulationOptions.maximumTimeMs}}</span>
    <span class="step-time">Step: {{simulationOptions.stepTimeMs}}</span>
    <a class="button" (click)="onDefaults(true)">Defaults</a>
    <a class="button" (click)="onEdit(true)">Edit</a>
    <span class="separator">|</span>
    <a class="button" (click)="onReset(true)">Reset</a>
    <a class="button" (click)="onLaunch(true)">Go!</a>
</ng-container>

<ng-container *ngIf="layout.edit">
    <label for="max-time">Max Time</label>
    <input #maxTime name="max-time"class="max-time-input" (blur)="onUpdateMaxTime(maxTime.value)" type="number" />
    <label for="step-time">Step</label>
    <input #stepTime name="step-time" class="step-time-input" (blur)="onUpdateStepTime(stepTime.value)" type="number" />
    
    <a class="button" (click)="onEdit(false)">Cancel</a>
    <a class="button" (click)="onSave()">Save</a>
</ng-container>
