@import '../../sass/variables'
@import '../../sass/extensions'

\:host
    width: 100%
    @extend %flex-row

.character-panel-item
    flex: 1 0 auto
    margin-right: $base-spacing

.character-panel-item:last-child
    margin-right: 0