<div class="combat-log">
  <div class="combat-log-header">
    <h2>Details</h2>
  </div>
  <div class="combat-log-content">
    <span class="combat-log-entry">[00:00:00] Entry 1</span>
    <span class="combat-log-entry">[00:00:01] Entry 2</span>
    <span class="combat-log-entry">[00:00:30] Entry 3</span>
    <span class="combat-log-entry">[00:00:30] Entry 4</span>
    <span class="combat-log-entry">[00:01:21] Entry 5</span>
    <span class="combat-log-entry">[00:01:22] Entry 6</span>
    <span class="combat-log-entry">[00:10:22] Entry 7</span>
  </div>
</div>
